
.logo-text {
    width: 100px;
}
.story{
    height: 90px ;
}
.dp{
  width: 42px;
  height: 42px;
  margin-right: 10px;
}
.image{
  width: 100%;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 3px;
} 
button {
  font-size: 14px;
  padding: 4px 12px;
}
.dps{
  width: 39px;
}

.gradiant-border {
  width: 70px;
  height: 70px;
  display: flex;
  
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(45deg , #ff00ff , #ff6600 , #ffcc00);
}
.story-dp{
  width: 69px;
  height: 69px;

}
.story-image{
 
  margin:50px;
  margin-top: 100px;  
  width: 550px;
  height: 550px;
  object-fit: cover; 
  object-position: center;
}
.proflie-pic {
  width: 100px;
  height: 100px;
}
.top-left-btn {
  position: absolute;
  top: 40px;
  right: 100px;

}
.icon{
  font-size: 35px;
  color: palevioletred;
}

@media (max-width: 520px){
  
  .story-response{
    margin: 20px;
  }

  .story-response img{
    margin-left: 30px;
    margin-right: 30px ;
    width: 70%;
    height: 65vh;
  
  
  }
  .story-response .icon {
    font-size: 20px;
    
  }

}
 
